* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; /* Garante que o conteúdo ocupe a altura total da tela */
}

main {
  flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}